*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
:root{
    --primaryColor :#6e64c6;
    --lightColor :rgb(233, 202, 25);
    --darkColor:rgb(252, 214, 1);
    --headingColor:rgb(0, 0, 0);
    
}
a{
    text-decoration: none;
    color: var(--lightColor);
}
h1{
    color:white;
}

nav{
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    border-bottom: 1px solid var(--lightColor);
   
}
nav h1{
    cursor: pointer;
    color: var(--darkColor);
    padding-left: 1rem;
}
nav h1 span{
    color: rgb(1, 191, 238);
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    cursor: pointer;

}

nav ul li{
    color: var(--lightColor);
}
nav ul li:hover{
    cursor: pointer;
    
    color: white;


}
.hero{
    background-color:var(--primaryColor);
    height: 92vh;
    display: flex;
}
.hero .left{
   
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    line-height: 3rem;
}
.hero .right{
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left p{
    color: var(--darkColor);

}
.left h1{
    font-size: 3rem;
}
/* socialMedia */
.socialMedia{
    padding: 3px;
    border: 1px solid white;
   
   
   width: 12rem;
   display: flex;
   justify-content: space-evenly;
   
}
.socialMedia img{
   
    width:2rem ;
    border-radius: 50%;
    height: 2rem;
    cursor: pointer;
}
.socialMedia img:hover{
    border: 3px solid white;

}

.hero .right img{
    
    height: 50%;
    border-radius: 10% 30% 50% 70%;

}
/* service */
.services{
    padding-left: 1rem;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    color: white;
    padding-top: 3rem;
}
.services div{
    height: 18rem;
    border: 1px solid rgb(219, 62, 62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#6e62d6;
    align-items: center;
    line-height: 2rem;
    border-radius: 25% 10% ;
    margin-bottom: 10px;
}
.services div i{
    height: 6rem;
    padding: 1rem;
    width: 6rem;
    border-radius: 50%;
}
.services div h3{
    color: var(--lightColor);
}
.services div p{
    font-size: .8rem;
    padding: 0 3rem;
}
 .outSiderOfServices{
    color: var(--lightColor);
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid black;
    padding-top: 1rem;
}