*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
:root{
    --primaryColor :#020202;
    --lightColor :rgb(233, 202, 25);
    --darkColor:rgb(252, 214, 1);
    --headingColor:rgb(0, 0, 0);
    
}
a{
    text-decoration: none;
    color: var(--lightColor);
}
h1{
    color:white;
}

nav{
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    border-bottom: 1px solid var(--lightColor);
   
}
nav h1{
    cursor: pointer;
    color: var(--darkColor);
    padding-left: 1rem;
}
nav h1 span{
    color: rgb(247, 247, 247);
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-evenly;
    cursor: pointer;

}

nav ul li{
    color: var(--lightColor);
    transition: white .4s ease-in-out;
}
nav ul li:hover{
    cursor: pointer;
    
    color: white;


}
.hero{
    background-color:var(--primaryColor);
    height: 92vh;
    display: flex;
}
.hero .left{
   
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    line-height: 3rem;
}
.hero .right{
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left p{
    color: var(--darkColor);
    font-size: 1rem;
    margin-bottom: 2rem;
   

    

}
.left .Dipesh{
    padding-bottom: 0;
    margin-top: 4rem;
}
.left h1{
    font-size: 2rem;
    
}
/* socialMedia */
.socialMedia{
    padding: 3px;
    border: 1px solid rgb(255, 221, 25);
   
   
   width: 15rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;
   
   
}
.socialMedia i{
   
    width:2rem ;
    border-radius: 50%;
    height: 1.5rem;
    cursor: pointer;
   
    text-align: center;
    color: yellow;
   
    
}
.socialMedia i:hover{
   
    color: white;
    

}

.hero .right img{
    
    height: 50%;
    border-radius: 10% 30% 50% 70%;

}
/* service */
.services{
    padding-left: 1rem;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    color:white;
    background-color: var(--primaryColor);
    padding-top: 3rem;
    flex-wrap: wraps;
}
.services div{
    height: 18rem;
    border: 1px solid rgb(219, 62, 62);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#f3f705;
    align-items: center;
    line-height: 2rem;
    border-radius: 25% 10% ;
    margin-bottom: 10px;
    transition: background-color .4s ease-in-out;
}
.services div i{
    height: 2rem;
    padding: 1rem;
    width: 2rem;
    border-radius:80%;
    text-align: center;
   
}
.services div i:hover{
    border: 2px solid rgb(19, 19, 18);
    color: rgb(17, 17, 15);
}
.services div h3{
    margin-bottom: 1rem;
    color:rgb(17, 17, 15); ;
}
.services div p{
    font-size: .8rem;
    padding: 0 2rem;
    color: black;
}
 .outSiderOfServices{
    color: var(--lightColor);
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid black;
    padding-top: 2rem;
    background-color: #020202;
    border-bottom: 1px solid yellow;
}



#projects{
    width: 100%;
    background-color:var(--primaryColor);
    height: 150vh;
    padding: 3rem;


}
.carousel-inner{
    height: 70vh;
    
}
h5{
    color: #f3f705;
}

.contact{
    height: 150vh;
    width: 100%;
    padding: 3rem;
    background-color:var(--primaryColor);
    display: flex;
    
    
}
.contactLeft{
    width: 25%;
    height: 100%;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 6px;
}
.contactRight{
    width: 75%;
    height: 100%;
    background-color: var(--primaryColor);
    border: 2px solid rgb(22, 22, 20);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contactForm{
   max-width: 40rem;
   width: 100%;
   background-color: yellow;
   padding: 2rem;
   border-radius: 0.8rem;
   box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);

}
label{
    display: block;
    font-weight: bold;
    margin-bottom: .6rem;
}
input,textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: .4rem;
}
.contactForm button {
    background-color: var(--lightColor);
    padding: 1rem 2rem;
    
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: white .3s ease-in-out;
    margin-top: .3rem;


}
button:hover{
    background-color:black;
    color: white;
    
}
.contactLeft h1{
    font-size: 2rem;
    padding: .5rem;
    padding-left: .5rem;
    text-align:  center;
    border-bottom: 1px solid white;
}
.contactLeft .contactingForm{
    font-size: .5rem;
    
    box-sizing: border-box;
    padding:1.5rem ;
}
.contactLeft .contactingForm p{
    text-align: justify;
    padding: .5rem;
    color: #020202;

}
